<% if(currentUser) { %>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FitCheck</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="/showUsers">My recipes</a>
                    <a class="nav-link text-white" href="/">My exercises</a>
                    <% if(currentUser.role === 'basic') { %>
                        <a class="nav-link text-white-50 disabled" href="/">&#128274;Day's Workout</a>
                    <% } else { %>
                        <a class="nav-link text-white" href="/">Day's Workout</a>
                    <% } %>
                </div>
                <div class="navbar-nav ms-auto dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <%- currentUser.name %>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/">Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<% } %>