<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FitCheck</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/showUsers">My recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/">My exercises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50 disabled" href="/">&#128274;Day's Workout</a>
            </li>
        </ul>
        </div>
    </div> 
</nav>