<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="container d-flex justify-content-center align-items-center card mb-4" style="width: 25rem;">
        <div class="card-body">
            <div class="row">
                <h5>New competition</h5>
                <form action="/competitions/new" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="end_date">End Date</label>
                        <input class="form-control" type="date" id="end_date" name="competition[end_date]" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="information">Information</label>
                        <textarea class="form-control" id="information" name="competition[information]" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="prize">Prize</label>
                        <input class="form-control" type="text" id="prize" name="competition[prize]" required>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary btn-block col-6 mb-3 mx-auto" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/minDate.js"></script>