<% layout('/layouts/boilerplate') %>

    <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item carousel-image bg-img-1 active" data-bs-interval="5000">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Revitalize Your Routine: Energizing <a href="/exercises/index" style="color: white">Exercises</a></h5>
                    <p>Explore this collection of dynamic exercises designed to boost your energy levels and enhance overall fitness. Incorporate these invigorating movements into your workout regimen to challenge your body, improve endurance, and promote a healthy, active lifestyle. Unleash your inner athlete and let's get moving!</p>
                </div>
            </div>
            <div class="carousel-item carousel-image bg-img-2" data-bs-interval="5000">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nourish Your Body: Wholesome and Delicious <a href="/recipes/index" style="color: white">Meals</a></h5>
                    <p>Delight in our selection of nutritious and appetizing dishes that fuel your body with the essential vitamins and minerals it needs to thrive. Embrace a well-balanced diet by incorporating these scrumptious, healthy meals into your daily routine. Savor the flavors of wellness and take a step towards a happier, more energetic you!</p>
                </div>
            </div>
            <div class="carousel-item carousel-image bg-img-3" data-bs-interval="5000">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Rise to the Challenge: Fitness <a href="/competitions/index" style="color: white">Competition</a></h5>
                    <p>Unleash your competitive spirit and join our exciting app-based fitness competition designed to push your limits and ignite your motivation. Participate in a series of engaging and challenging activities, track your progress, and connect with like-minded enthusiasts. Win amazing prizes, celebrate your accomplishments, and transform your fitness journey today!</p>
                </div>
            </div>
            <div class="carousel-item carousel-image bg-img-4" data-bs-interval="5000">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Connect & Inspire: Premium <a href="/recipes/index" style="color: whitesmoke">Subscription</a> Perks</h5>
                    <p> Enhance your fitness experience with our Premium Subscription, designed to bring you closer to like-minded individuals. Unlock access to friends' profiles, discover their favorite exercises and recipes, and exchange motivation and inspiration. Subscribe now and embark on a shared journey towards a healthier, more connected lifestyle!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>