body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/images/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.bg-img-1 {
    background-image: url('/images/exercises.png');
}

.bg-img-2 {
    background-image: url('/images/recipes.png');
}

.bg-img-3 {
    background-image: url('/images/competition.png');
}

.bg-img-4 {
    background-image: url("/images/subscription.png");
}
.carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

.carousel-image {
    height: 83vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-link {
    border-radius: 6px;
}

.nav-link:hover{
    background-color: #424649
}

.navbar-brand {
    padding-left: 8px;
    padding-right: 8px;
}

.star-checked {
    color: orange;
}

button.fa-star {
    border: none;
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}